@import 'src/styles/mixins/flex.module.scss';
@import 'src/styles/mixins/grid.module.scss';

.footer {
  padding: 29px 73px 78px;
  border-top: 1px solid #DCE5E2;
  background-color: #F8F9FA;
  @include grid($isRepeat: false, $col: 394px auto, $gap: 28px);
  
  .logo {
    width: 394px;
    margin-right: 28px;

    .description {
      width: 304px;
      margin-top: 18px;
      font-size: 16px;
      line-height: 19.2px;
    }
  }

  .links {
    @include grid($col: 197px, $gap: 28px);
    
    .linkGroup {
      width: 197px;
      height: 191px;

      .titleLink {
        font-size: 22px;
        line-height: 27.5px;
        margin-bottom: 19px;
        font-family: 'Readex Pro Medium';
      } 
  
      .titleSubLink {
        font-size: 17px;
        line-height: 21.6px;
  
        & + .titleSubLink {
          margin-top: 14px;
        }
      }
    }
  }  
}

@media screen and (max-width: 990px) {
  .footer {
    display: block;

    .logo {
      margin-right: 0px;
      margin-bottom: 28px;
    }

    .links {
      .linkGroup {
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .footer {
    padding: 29px 20px 78px;

    .logo {
      width: 280px;  
      .description {
        width: 100%;
      }
    }
  }
}