@font-face {
  font-family: 'Inter';
  src: url('src/assets/fonts/Inter-V.ttf') format('truetype');
}

@font-face {
  font-family: 'Readex Pro Medium';
  src: url('src/assets/fonts/ReadexPro-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Readex Pro Light';
  src: url('src/assets/fonts/ReadexPro-Light.ttf') format('truetype');
}