@import 'src/styles/mixins/flex.module.scss';
@import 'src/styles/mixins/grid.module.scss';

#itemLaptop {
  @include gridPosItem($col: 1, $row: 1);
  width: 639px;
  height: 472px;
  padding: 0 42px;
  div {
    @include flex($direction: column, $align: flex-end);

    span {
      position: relative;
      top: -5.5px;
      width: 192px;
      line-height: 38.4px;
      text-align: right;
    }
  }
}

#itemWatch {
  @include gridPosItem($col: 1, $row: 2);
  width: 639px;
  height: 270px;
  padding: 0 42px;
  @include flex($justify: space-between);

  div {
    @include flex($direction: column, $align: flex-end);
    text-align: right;
    span {
      width: 128px;
    }
  }
}

#itemPhone { 
  @include gridPosItem($col: 2, $row: 1, $row2: 3);
  width: 312px;
  height: 792px;
  @include flex($direction: column);
  
  img {
    margin-bottom: 41px;
    position: relative;
    left: 8px;
  }    

  div {
    @include flex($direction: column);
    span {
      width: 250px;
      text-align: center;
    }
  }
}

#itemTablet {
  @include gridPosItem($col: 3, $row: 1, $row2: 3);
  width: 312px;
  height: 792px;
  @include flex($direction: column-reverse);

  div {
    padding-bottom: 42px;
    @include flex($direction: column);

    span {
      width: 233px;
      text-align: center;
    }
  }
}
 
@media screen and (max-width: 1440px) {
  #itemLaptop {
    width: auto;
    height: auto;
    img {
      width: 60%;
      height: auto;
    }
  }

  #itemWatch {
    width: auto;
    img {
      width: auto;
      min-width: 60%;
      height: 100%;
    }
    div {
      width: 40%;
    }
  }

  #itemTablet {
    @include gridPosItem($col: 2, $row: 1, $row2: 4);
    height: auto;
    width: auto;
    align-items: flex-start;

    img {
      width: 100%;
      height: auto;
      min-height: 60%;
    }

    div {
      width: 100%;
      padding-bottom: 60px;
    }
  }
  
  #itemPhone {
    @include gridPosItem($col: 1, $col2: 2, $row: 3);
    height: 367px;
    width: auto;
    @include flex($direction: row-reverse, $justify: space-between);

    img {
      position: static;
      width: auto;
      min-width: 60%;
      height: 100%;
      margin: 0;
    }

    div {
      width: 40%;
      padding-left: 42px;
      @include flex($direction: column, $align: flex-start);
      span {
        width: 170px;
        text-align: left;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  #itemLaptop {
    img {
      max-width: 75%;
      height: auto;
    }
  }

  #itemWatch {
    img {
      min-width: 45%;
    }
    div {
      width: 55%;
    }
  }

  #itemTablet {
    img {
      min-height: 45%;
    }
  }
  
  #itemPhone { 
    img {
      min-width: 45%;
    }

    div {
      width: 55%;
    }
  }
}

@media screen and (max-width: 900px) {
  #itemTablet {
    @include gridPosItem($col: 1, $row: 4);
    @include flex();

    div {
      padding: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  #itemLaptop, #itemWatch, #itemTablet, #itemPhone {
    @include flex($direction: column, $justify: flex-start);
    width: 100%;
    height: auto;
    padding: 0 0 20px;

    img {
      width: 100%;
      max-width: none;
      height: auto;
      padding-bottom: 20px;
    }

    div {
      @include flex($direction: column);
      width: 260px;
      padding: 10px 0;
      p {
        padding-bottom: 10px;
      }
      span {
        width: 100%;
        text-align: center;
      }
    }
  }
}