@import 'src/styles/mixins/flex.module.scss';
@import 'src/styles/mixins/landingSection.module.scss';

.neverMiss {
  width: 935px;
  height: 450px;
  padding: 47px 0 43px 0;
  margin: 0;
  margin: 0 auto 19px;
  border-radius: 16px;
  background-color: #DCE5E2;
  @include flex($direction: column);

  .title {
    @include title();
  }

  .description {
    @include description($fs: 16px, $mb: 0px);
  }

  img{
    display: block;
    margin: 14px 0;
  }

  .search {
    @include flex();

    input[type=text] {
      width: 285px;
      height: 50px;
      padding-left: 32px;
      font-size: 14px;
      border-right: none;
      outline: none;
      border-radius: 54px 0 0 54px;
      background-color: #DCE5E2;
    }
  
    button {
      width: 115px;
      height: 50px;
      font-size: 14px;
      border: none;
      border-radius: 0 200px 200px 0;
      background-color: #000;
      color: #fff;
      @include flex();
    }
  }
}

@media screen and (max-width: 975px) {
  .neverMiss {
    width: calc(100vw - 146px);
    height: auto;
    padding: 47px 20px 43px 20px;
  }
}

@media screen and (max-width: 900px) {
  .neverMiss {
    width: calc(100vw - 40px);
  }
}

@media screen and (max-width: 500px) {
  .neverMiss {
    .search {
      input[type=text] {
        width: 170px; 
      }
      
      button {
        width: 70px;
      }
    }
  }
}