@import 'src/styles/mixins/flex.module.scss';
@import 'src/styles/mixins/landingSection.module.scss';
@import 'src/styles/mixins/grid.module.scss';

.categories {
  @include landingSection($mb: 78px);
  @include flex($direction: column);

  .title {
    @include title();
  }

  .subtitle {
    max-width: 628px;
    @include description($fs: 14px, $mb: 55px);
  }

  .items {
    width: 100%;
    @include grid($isRepeat: false, $col: 639px 312px 312px, $gap: 72px 15.5px);
  }
}

@media screen and (max-width: 1440px) {
  .categories {
    .items {
      @include grid($isRepeat: false, $col: 61.089% 35.88%, $gap: 32px);
    }
  }
}

@media screen and (max-width: 900px) {
  .categories {
    .items {
      width: calc(100vw - 40px);
      @include gridCol($isRepeat: false, $col: 100%);
    }
  }
}

@media screen and (max-width: 600px) {
  .categories {
    .items {
      width: 280px;
    }
  }
}
