@import 'src/styles/mixins/flex.module.scss';
@import 'src/styles/mixins/landingSection.module.scss';

.ideas {
  @include flex($direction: column);
  @include landingSection($mb: 75px);

  .title {
    @include title();
  }

  .description {
    @include description();
  }

  .content {
    width: calc(100vw - 146px);
    height: 420px;
    padding-bottom: 73px;
    @include flex($align: flex-start);

    img {
      width: 620px;
      height: 100%;
    }

    .info {
      height: 100%;
      padding-top: 14px;
      margin-left: 35px;
      font-size: 24px;
      line-height: 30px;
      p {
        width: auto;
      }
      p + p {
        margin-top: 28px;
      }
    }
  }

  .seeAll {
    font-size: 24px;
    line-height: 28.8px;
    @include flex();

    .arrow {
      width: 15px;
      height: 14px;
      border-top: 3px solid #151A1E;
      border-right: 3px solid #151A1E;

      position: relative;

      .shaft {
        position: absolute;
        height: 15px;
        border-right: 3px solid #151A1E;
        top: -3.8px;
        right: 3.2px;
        transform: rotate(45deg);
      }
    }

    p + .arrow {
      margin-left: 7.31px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .ideas {
    .content {
      @include flex($wrap: wrap);
      height: auto;
      padding-bottom: 40px;

      img {
        width: 100%;
        min-width: 280px;
        height: auto;
      }
  
      .info {
        width: 100%;
        height: auto;
        padding: 40px 20px 10px;
        margin-left: 0px;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .ideas {
    .content {
      width: calc(100vw - 40px);
      .info {
        font-size: 20px;
      }
    }
  }
}