@import 'src/styles/mixins/flex.module.scss';

.item {
  width: 413px;
  height: 453px;
  border-radius: 16px;
  background-color: #F8F9FA;
  @include flex($direction: column);

  .tag {
    height: 17px;
    line-height: 16.8px;
    font-size: 13px;
    font-family: 'Readex Pro Light';
  }

  .title {
    height: 35px;
    line-height: 35px;
    font-size: 28px;
    font-family: 'Readex Pro Medium';
  }

  .btn {
    display: block;
    width: 190px;
    height: 50px;
    line-height: 21.6px;
    margin: 30px 0;
    border: 1px solid #000;
    padding: 14px 63px;
    border-radius: 200px;
    font-size: 18px;
  }

  img {
    max-width: 90%;
    height: auto;
  }
}

@media screen and (max-width: 460px) {
  .item {
    width: 280px;
    height: auto;
    padding: 15px 0;
  }
}